# Inflation Index Wrangle
This data comes from [InflationData.com](https://inflationdata.com/Inflation/Inflation_Rate/Monthly_Inflation.aspx#/). A historical documentation website for inflation in the United States. This information was pulled from the website and loaded to an Excel spreadsheet, formatted, and will now be loaded as a CSV.

In [1]:
# loading libraries for use 
import pandas as pd
import datetime

Loading the CSV into the inf variable for future use.

In [3]:
inf = pd.read_csv(r'C:\Users\stanl\OneDrive\Documents\Graduate School\Regis_Practicum_1\Historic Inflation Rate.csv')

Preview the data for what must be addressed. We see a percentage sign which could easily be a string object. Check with .info()

In [5]:
inf.head()

         Date Inflation
0  1990-01-01     1.03%
1  1990-02-01     0.47%
2  1990-03-01     0.55%
3  1990-04-01     0.16%
4  1990-05-01     0.23%

In [6]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       384 non-null    object
 1   Inflation  381 non-null    object
dtypes: object(2)
memory usage: 6.1+ KB

Date and Inflation are string objects. Address with to_datetime and astype with strip of the '%'

In [7]:
inf['Date'] = pd.to_datetime(inf['Date'])

In [8]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       384 non-null    datetime64[ns]
 1   Inflation  381 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 6.1+ KB

In [9]:
inf['Inflation'] = inf['Inflation'].str.strip('%')

In [10]:
inf['Inflation'] = inf['Inflation'].astype(float)

In [11]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       384 non-null    datetime64[ns]
 1   Inflation  381 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.1 KB

We can now load this dataset back to a CSV to be joined in the later dataset.

In [20]:
inf.to_csv('historic_inflation.csv')